.App {
  text-align: center;
}

.App-logo {
  height: 30vmin;
  pointer-events: none;
}

.App-header {
  background-color: #001818;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.home-desc {
	max-width: 70%;
}

/* Animation on "Konami Code" image */
#toasty {
	display: block;
	position: fixed;
	bottom: 0;
	right: -130px;
	z-index: 999;
	
	-webkit-transition-property: right;
	-moz-transition-property: right;
	-o-transition-property: right;
	-ms-transition-property: right;
	transition-property: right;
	
	-webkit-transition-duration: 0.2s;
	-moz-transition-duration: 0.2s;
	-o-transition-duration: 0.2s;
	-ms-transition-duration: 0.2s;
	transition-duration: 0.2s;
	
	-webkit-transition-timing-function: linear; 
	transition-timing-function: linear;
}
#toasty img {
	width: 130px;
	height: auto;
}
#toasty.show {
	right: 0px;
}


/* Animated Logo */
#whiteLettersGroup path {
	stroke: #d5d5d5;
	stroke-width: 2;
	
}
#replayDiv {
	opacity: 0;
	
	-webkit-transition-property: opacity;
	-moz-transition-property: opacity;
	-o-transition-property: opacity;
	-ms-transition-property: opacity;
	transition-property: opacity;
	
	-webkit-transition-duration: 0.5s;
	-moz-transition-duration: 0.5s;
	-o-transition-duration: 0.5s;
	-ms-transition-duration: 0.5s;
	transition-duration: 0.5s;
}
#replayDiv.ready {
	opacity: 1;
}
